.App {
  text-align: center;
}

.App-header {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: #111;
}


.App-calculator {
  font-size: calc(10px + 1vmin);
  color: white;
}

.App-logo {
  max-width: 90%;
  padding: 2em;
}
.App-link {
  color: #09d3ac;
}

.App-qa {
  background: linear-gradient(whitesmoke, white);
  color: black;
}
.App-qa-item {
    padding: 1.5em 0.5em;
    font-size: 1.2rem;
    border-top: 1px solid gainsboro;
}
.App-qa-q {
  font-size: 1.2rem;
}

.App-qa-a {
  font-size: 0.8rem;
  color: #111;
  margin-top: 2em;
}