html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.calculator-container {
  width: 100%;
  padding: 2em 0;
  position: relative;
  overflow: hidden;
  background: var(--scheme);
}

.calculator-hero {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  align-items: center;
  position: absolute;
  background: linear-gradient(335deg, #111, var(--scheme));
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 0.3s;
}

.calculator-container:target .calculator-hero {
  left: 100%;
  right: -100%;
}

.calculator-body {
  display: flex;
  justify-content: center;
}

.hero-go {
  border: 1px solid grey;
  padding: 0.5em;
  cursor: pointer;
  transition: all 0.2s;
  color: white;
  text-decoration: none;
}

.scheme-group {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.scheme-item {
  background: transparent;
  color: white;
  border: 1px solid #5555;
  margin: 0.1em 0;
  padding: 0.2em 0;
  cursor: pointer;
  flex-grow: 1;
  transition: all 0.3s;
}
.scheme-item:hover, .scheme-item:focus {
  color: var(--scheme);
  background: white;
  box-shadow: 0 0 5px black;
}
.scheme-title {
  font-size: 1.2em;
}

.scheme-desc {
  font-size: small;
}

.control-group {
  width: 400px;
  display: flex;
  flex-direction: column;
  background: white;
  color: black;
  padding: 1em;
  box-shadow: 0 0 3px black;
  text-align: left;
}

.control-item {
  display: flex;
  margin: 0.1em 0;
}

.control-item > .label {
  width: 40%;
  font-size: small;
  padding-right: 1em;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.control-item > .input .hint {
  color: lightblue;
  height: 4em;
}
.control-item > .input {
  width: 60%;
  display: flex;
}

.control-item > .input.options {
  flex-direction: column;
  font-size: small;
  align-items: flex-start;
}

.control-item > .input > *:first-child {
  flex-grow: 1;
}

.hero-submit {
  background-color: var(--scheme);
  color: white;
  padding: 0.5em;
  margin: 0.5em 0;
  border: 1px solid var(--scheme);
  cursor: pointer;
  transition: all .3s;
}
.hero-submit:hover {
  background-color: white;
  color: var(--scheme);

}

.hero-go-checkout {
  color: black;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 2000px;
  text-align: center;
  padding: 0.1em 2em;
  margin: 0.5em 0;
  display: block;
  transition: all 0.2s;
}

.hero-go-checkout:hover {
  color: white;
  background: black;
}

[aria-label][data-balloon-pos][data-balloon-length="large"]:after {
  white-space: pre-wrap !important;
}