@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, button {
  font-family: "Open Sans", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.sale-countdown {
  padding: 0.5em;
  margin: 0.5em;
  box-shadow: #500 0 0 5px;
}

.sale-countdown .countdown {
  background: #500;
  color: white;
  font-size: 2em;
  display: block;
  padding: 0.5em 0;
  display: flex;
  align-items: center;
  justify-content: center;
}


.control-name {
  display: flex;
}
.control-item>* {
  margin: 0.5em 0;
}
.control-name>*:first-child {
  margin-right: auto;
}


.calculator-container {
  min-height: 100vh;
  padding: 2em 0;
  background: var(--scheme);
}


.calculator-body {
  display: flex;
  justify-content: center;
}

.listing {
  font-size: 1.4em;
}

.listing-old {
  text-decoration: line-through;
  font-size: 1rem;
}

.hero-go {
  border: 1px solid grey;
  padding: 0.5em;
  cursor: pointer;
  transition: all 0.2s;
  background: var(--scheme);
  color: white;
  text-decoration: none;
}

.hero-go:hover {
  transform: scale(1.1);
}

.scheme-group {
  display: flex;
  flex-direction: column;
}

.scheme-item {
  background: transparent;
  color: white;
  border: 1px solid #5555;
  margin: 0.1em 0;
  padding: 1em 0;
  cursor: pointer;
  flex-grow: 1;
  transition: all 0.3s;
}
.scheme-item:hover, .scheme-item:focus {
  color: var(--scheme);
  background: white;
  box-shadow: 0 0 5px black;
}
.scheme-title {
  font-size: 1.2em;
}

.scheme-desc {
  font-size: small;
}


.control-title {
  font-size: 2em;
}

.control-hint {
  min-height: 6em;
  display: flex;
  align-items: center;
}

.control-item {
  display: flex;
  flex-direction: column;
  background: white;
  color: black;
  padding: 1em;
  box-shadow: 0 0 3px black;
  text-align: left;
}

.control-item > .label {
  width: 40%;
  font-size: small;
  padding-right: 1em;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.control-range {
  margin: 1em 0;
}

.control-list-item {
  display: flex;
  align-items: center;
}

.control-list-item > button:last-of-type {
  margin-left: auto;
}

.control-item > .input .hint {
  color: lightblue;
  height: 4em;
}
.control-item > .input {
  width: 60%;
  display: flex;
}

.control-item > .input.options {
  flex-direction: column;
  font-size: small;
  align-items: flex-start;
}

.control-item > .input > *:first-child {
  flex-grow: 1;
}

.hero-submit {
  background-color: var(--scheme);
  color: white;
  padding: 0.5em;
  margin: 0.5em 0;
  border: 1px solid var(--scheme);
  cursor: pointer;
  transition: all .3s;
}
.hero-submit:hover {
  background-color: white;
  color: var(--scheme);

}

.hero-go-checkout {
  color: black;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 2000px;
  text-align: center;
  padding: 0.1em 2em;
  margin: 0.5em 0;
  display: block;
  transition: all 0.2s;
}

.hero-go-checkout:hover {
  color: white;
  background: black;
}

[aria-label][data-balloon-pos][data-balloon-length="large"]:after {
  white-space: pre-wrap !important;
}

div[class^="TabsView"] {
  overflow: visible;
}
div[class^="StyledTextHint"], div[class^="StyledCheckHint"] {
  font-size: 0.8em;
}

div[class^="TabList"] {
  font-size: 1.5em;
  margin-top: 1em;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
}
div[class^="TabList"] > div {
  padding: 0.5em 2em;
  flex-grow: 1;
}
